body {
    margin: 0;
    padding: 0;
}

#container {
    width: 60%;
    margin: auto;
}

#container h1 {
    text-align: center;

}

.timeText {
    font-size: 80%;
}

#img {
    width: 100%;
}


@media only screen and (max-width: 600px) {
    #container {
        width: 100%;
    }
}