p {
    font-size: 20px;
}
#otherImg {
    width: 23vw;
    height: 20vw;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 15px;
    }
    #otherImg {
        width: 95%;
        height: 27vw;
        object-fit: cover;
    }
}



