
.mainFooter {
    background-color:  #00204A;
    color: white;
    bottom: 0;
    width: 100vw;
    min-height: calc(100% - 260px);
    padding-bottom: 10px;
}

.mainFooter p {
    color: white;
    font-weight: bold;
}

#imgLogo {
    width: 4vw;
    padding: 1vw;
    opacity: 50%;
}

#imgLogo:hover {
    opacity: 100%;
}

@media only screen and (max-width: 600px) {
    #imgLogo {
        width: 10vw;
        padding: 2vw;
        margin: auto;
    }
}